
.container{
  background-color: black;
  color:white;
}
.productlist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding:10px;
  background-color: brown;
  gap:10px;
}
.product{
  background-color: black;
  color:white;
  width:300px;
  padding:10px;
}
img{
  width:100%;
}