*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
#contain{
  
  height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
  display:flex;
  justify-content: space-between;
  background-color: black;
  color:white;
  padding:10px;
}
button{
  display:inline;
  width:80px !important;
}
nav{
  display:flex;
  gap:20px;
}
nav a{
  text-decoration: none;
  color:white;
}

.active{
  color:red;
  background-color: white;
}